body
{
    /* background-color: rgb(14, 5, 5); */
    background-color: #000000;
    
}
.pizza-order{
    animation-name:pizza ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes pizza{
    to{
        transform: rotate(360deg);
        margin-left: 100px;
    }
}
.h1name
{
    color: white;
}
.logo
{
    margin : 10px;
	width  : 15%;
	height : 50%;
    color  : var(--main-color);
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.h6{
    color: white;

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior:;
}
:root
{
    --main-color: #f24f04;
    --text-color: #252429;
    --bg-color: #fffefb;
    --bg-color: #fffefb;
    --rr-color: #ffa50a;
    --other-color: #95949a;
    --bb-color: #fff2de;
    --big-font: 4.4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
header{
    position:fixed;
    top: 0;
    right:0;
    z-index: 1000;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0.4rem 30rem rgba(0,0,0,1.0);
    padding: 15px 14%;
    transition: all ease .52s;
    /* background-color: #95949a; */

    flex-direction: row;
}
.navbar{
    display: flex;
    background-color: #000000;
}
.navbar a p{
    position: relative;
    margin: 0px 15px;
    padding: 5px 5px;
    font-size: var(--p-font);
    font-weight: 500px;
    color: var(--bb-color);
    transition: all ease .50s;
}
.navbar a p::after{
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: var(--main-color);
    transition: all ease .50s;
}
.navbar a p:hover::after{
    width: 40%;
}
.navbar a p:hover{
    color: var(--main-color);
}
.header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons i{
    vertical-align: middle;
    font-size: 1.5rem;
    color:var(--bb-color);
    margin-left: 20px;
    transition: all ease.50s;
}
.header-icons i:hover{
    transform: scale(1.1) translateX(-5px);
    color: var(--main-color);
}
section{
    padding: 90px 18% 65px;
    margin-top: 50px;
}
.home
{
    position: relative;
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    background-color: black;
    margin-top: 80px;
}
.home .img{
    margin-left: 250px;
}
.home-text{
    background-color: black;
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
}
.home-text p{
    color: #95949a;
    font-style: var(--p-font);
    line-height: 1.2;
}
.orderbtn{
padding: 12px 26px;
background-color: var(--main-color);
color: var(--bg-color);
/* font-size: var(--p-font); */
font-size: 15px;
font-weight: bold;
border-radius: 0.7rem;
transition: all ease .50s;
border:none;
cursor: pointer;
}
.orderbtn:hover{
    transform: scale(1.1) translateX(1px);
    box-shadow: #ff9f0d 0px 1px 25px;
    color  : var(--main-color);
    background-color: black;
}
.center-text{
    text-align: center;
}
.center-text strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}

.center-text h2{
    font-family: 'Playfair Display', serif;
    font-size: var(--h2-font);
    font-weight: 900;
    color: white;
}

.category{
    background-color: black;
}
.categories-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px,auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    background-color: black;
    width: auto;

}
.box{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box box-img{
    
    width: 190px;
    height: 190px;
}
.box-img img{
    width: 80%;
    height: 100%;
    object-fit: contain;
}
.box h3{
    font-family: 'Playfair Display', serif;
    margin: 15px 0;
    font-size: 25px;
    font-weight: 900;
}
.box p{
    font-size: var(--p-font);
    line-height: 30px;
    color: var(--other-color);
}

.history{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    /* background-color: #ff9f0d; */
    height: 700px;
    
}
.history h1{
    font-size: var(--big-font);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: white;
}


.history strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}

.history h2{
    font-family: 'Playfair Display', serif;
    font-size: var(--h2-font);
    font-weight: 900;
    color: white;
    margin-top: 1rem;
}
.history p{
    font-size: var(--p-font);
    line-height: 30px;
    color: var(--other-color);
    margin: 15px 0;
}
.history button{
    padding: 12px 26px;
    margin: 0px;
    
}
.contact-head h2{
    
    font-weight: 900;
    color: var(--main-color);
    
}
.contact{
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.contact-img{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 4rem;
    margin-bottom: 5rem;
    margin-top: 8rem;

}

.contact-img img{
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
    transition: all .50s ease;
}

.contact-img img:hover{
    transform: scale(0.9);
}

.contact-text{
    text-align: center;
    /* background-color:rgb(255, 196, 0);  */
    
}
.contact-text h2{
    color: var(--main-color);
    
}
.contact-text p{
    color: var(--other-color);  
    margin-bottom: 4rem;
    line-height: 2;
    
}
.social{
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem ;
}
.social i{
    display: inline-block;
    font-size: 32px;
    color: var(--other-color);
    margin: 0 20px;
    transition: all .50s ease;
    
}
.social i:hover{
    color: var(--main-color);
    transform: scale(1.1);
}


/* Login popup start*/

/*  */

/*login popup end */




    #progress{
        /* background-color: var(--main-color); */
        position: fixed;
        bottom: 40px;
        right: 40px;
        height: 60px;
        width: 60px;
        display: none;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    #progress-value{
        display: block;
        height:calc(100% - 15px);
        width: calc(100% - 15px);
        background-color: #000000;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 35px;
        color:  var(--main-color);
    }
html{
    scroll-behavior: smooth;
}