body
{
    background-color:black;
}
.login-box
{
    padding: 10%;
    background-color:black;
    text-align: center;
    margin: 25px auto;
    margin-top: 150px;
    width: 600px;
    border: 2px solid white;
}
.login-box h2
{
    color: tomato;
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
input
{
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    border-color: yellow
    font-size: 20px;
    margin-top: 2rem;
    width: 50%;


}
.btn
{
    font-size: 20px;
    border-color: gray;
    border-radius: 50px;
    padding: 10px;
    margin-top: 2rem;
    width: 50%;
    font-weight: 900;
    color: tomato;
    background-color: black;
    
}
.btn:hover{
    background-color: white;
    transition: all ease .5s;
    transi
}

/*header part*/

body
{
    background-color: black;
    
}
.h1name
{
    color: white;
}
.logo
{
    margin : 10px;
	width  : 15%;
	height : 50%;
    color  : var(--main-color);
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}
.h6{
    color: white;

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root
{
    --main-color: #f24f04;
    --text-color: #252429;
    --bg-color: #fffefb;
    --bg-color: #fffefb;
    --rr-color: #ffa50a;
    --other-color: #95949a;
    --bb-color: #fff2de;
    --big-font: 4.4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
header{
    position:fixed;
    top: 0;
    right:0;
    z-index: 1000;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0.4rem 30rem rgba(0,0,0,1.0);
    padding: 15px 14%;
    transition: all ease .52s;
}
.navbar{
    display: flex;
    background-color: #000000;
}
.navbar a p{
    position: relative;
    margin: 0px 15px;
    padding: 5px 5px;
    font-size: var(--p-font);
    font-weight: 500px;
    color: var(--bb-color);
    transition: all ease .50s;
}
.navbar a p::after{
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: var(--main-color);
    transition: all ease .50s;
}
.navbar a p:hover::after{
    width: 40%;
}
.navbar a p:hover{
    color: var(--main-color);
}
.header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons i{
    vertical-align: middle;
    font-size: 1.5rem;
    color:var(--bb-color);
    margin-left: 20px;
    transition: all ease.50s;
}
.header-icons i:hover{
    transform: scale(1.1) translateX(-5px);
    color: var(--main-color);
}